* {
  margin:0;
  padding:0;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
body {
  background-color:#333;
  font:normal normal 13px/1.4 Helmet,FreeSans,Sans-Serif;
  color:#aaa;
  text-shadow:0 1px 0 rgba(0,0,0,.2);
  padding:10px;
}
textarea {
  display:block;
  overflow:auto;
  resize:vertical;
  background-color:#252525;
  border:1px solid #3c3c3c;
  padding:10px;
  width:100%;
  height:400px;
  font:inherit;
  font-family:Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,Monospace;
  color:white;
  text-shadow:none;
  -webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,.7);
  -moz-box-shadow:inset 0 1px 3px rgba(0,0,0,.7);
  box-shadow:inset 0 1px 3px rgba(0,0,0,.7);
}