/* Toolbars */
.editor-toolbar {
  display:block;
  margin:0 1px;
  height:20px;
  line-height:20px;
  font-size:14px;
  zoom:1;
}
.editor-toolbar:after {
  content:" ";
  display:table;
  clear:both;
}
.editor-toolbar a {
  display:block;
  float:left;
  background-color:#3c3c3c;
  color:#87ceeb;
  text-decoration:none !important;
  width:20px;
  height:inherit;
  text-align:center;
  margin:0 4px 4px 0;
}
.editor-toolbar a:active {background-color:#252525}
textarea + .editor-toolbar a {margin:4px 4px 0 0}

/* Custom Modal */
.custom-modal-overlay {
  position:fixed !important;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:9999;
  background-color:#252525;
  background-color:rgba(37,37,37,.4);
}
.custom-modal {
  position:fixed !important;
  position:absolute;
  top:20%;
  left:50%;
  z-index:9999;
  width:250px;
  background-color:white;
  color:black;
  border:1px solid;
  text-shadow:none;
  padding:10px;
  margin-left:-126px;
  -webkit-box-shadow:0 1px 3px black;
  -moz-box-shadow:0 1px 3px black;
  box-shadow:0 1px 3px black;
}
.custom-modal-header {
  margin:-10px -10px 0;
  padding:10px 10px 0;
  font-weight:bold;
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
}
.custom-modal-content {margin:10px 0 20px}
.custom-modal-content input {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  display:block;
  width:100%;
}
.custom-modal-action {text-align:center}
.custom-prompt input {
  display:block;
  margin:0;
  padding:4px;
  width:100%;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  text-shadow:none;
}
.custom-modal button {
  padding:2px 6px;
  cursor:pointer;
}
.custom-modal button::-moz-focus-inner {
  margin:0;
  padding:0;
  border:none;
  outline:none;
}


/* == Uncomment the CSS below if you don't want to use any icon fonts == */

/*
.editor-toolbar a {width:auto}
.editor-toolbar a i {display:none}
.editor-toolbar a:after {
  content:attr(title);
  font-weight:bold;
}
*/