/* @area */
.editor-area {
  display:block;
  width:100%;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  overflow:auto;
}

/* @toolbar */
.editor-toolbar {
  display:block;
  font-size:14px;
  line-height:1.4285714285714286em;
  zoom:1;
}
.editor-toolbar:after {
  content:" ";
  display:table;
  clear:both;
}

/* @toolbar button */
.editor-toolbar-button {
  display:block;
  float:left;
  color:inherit;
  text-decoration:none;
  width:1.4285714285714286em;
  height:1.4285714285714286em;
  text-align:center;
  margin:0 4px 4px 0;
}

/* @toolbar separator */
.editor-toolbar-separator {
  display:block;
  float:left;
  width:0;
  height:20px;
  border-right:1px solid;
  margin:0 4px 4px 0;
}

/* @toolbar --bottom */
.editor-area + .editor-toolbar .editor-toolbar-button,
.editor-area + .editor-toolbar .editor-toolbar-separator {margin:4px 4px 0 0}

/* @custom drop */
.custom-drop {
  position:absolute;
  top:-999999px;
  left:-999999px;
  width:100px;
  background-color:white;
  color:black;
  text-shadow:none;
  -webkit-box-shadow:0 1px 3px black;
  -moz-box-shadow:0 1px 3px black;
  box-shadow:0 1px 3px black;
}

/* @custom modal */
.custom-modal-overlay {
  position:fixed !important;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:9999;
  background-color:#252525;
  background-color:rgba(37,37,37,.4);
}
.custom-modal {
  position:absolute;
  top:-999999px;
  left:-999999px;
  width:250px;
  background-color:white;
  color:black;
  text-shadow:none;
  padding:10px;
  -webkit-box-shadow:0 1px 3px black;
  -moz-box-shadow:0 1px 3px black;
  box-shadow:0 1px 3px black;
}
.custom-modal-header {
  margin:-10px -10px 0;
  padding:10px 10px 0;
  font-weight:bold;
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  cursor:move;
}
.custom-modal-content {margin:10px 0}
.custom-modal-content input,
.custom-modal-content select,
.custom-modal-content textarea {
  display:block;
  width:100%;
  margin:10px 0 0;
  padding:4px;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  text-shadow:none;
}
.custom-modal-content .input {
  display:block;
  margin:10px 0 0;
}
.custom-modal-content input:first-child,
.custom-modal-content select:first-child,
.custom-modal-content textarea:first-child,
.custom-modal-content .input:first-child {margin-top:0}
.custom-modal-content input[type="checkbox"],
.custom-modal-content input[type="radio"] {
  display:inline-block;
  width:auto;
  margin:0;
}
.custom-modal-action {text-align:center}
.custom-modal-action button {
  padding:2px 6px;
  cursor:pointer;
}
.custom-modal-action button::-moz-focus-inner {
  margin:0;
  padding:0;
  border:none;
  outline:none;
}


/* Uncomment the CSS below if you don't want to use icon fonts ... */

/*
.editor-toolbar-button {width:auto}
.editor-toolbar-button i {display:none}
.editor-toolbar-buton:after {
  content:attr(title);
  font-weight:bold;
}
*/